<h2>Dashbaord</h2>

@ViewBag.name
<br /><br />
@Html.ActionLink("Confidential Page", "Confidential", "Navigation") | 
@Html.ActionLink("Logout", "Logout", "Navigation") | 
@Html.ActionLink("PostBack Examples Page", "Index", "PostBackExamples")
 