@using FirstMVCApp.Controllers
<h2>Details</h2>

@{ 
    Products product = ViewBag.product;
}

Item Id is : @product.id<br />
Item name is : @product.name<br />
Item price is : @product.price<br/>
Item quantity is : @product.quantity<br />