
@{
    ViewBag.Title = "Index";
}

<h2>Index Of Mobile Phones</h2>


@Html.ActionLink("Sales Page", "Sales", "Mobile")

@Html.ActionLink("Services Page", "Services", "Mobile")

@Html.ActionLink("Home Page", "Index", "Home")

